@import '~antd/dist/antd.css';

body {
  background-color: #34495e;
}

/* .ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.ant-col:first-child {
  padding-left: 0 !important;
}

.ant-col:last-child {
  padding-right: 0 !important;
} */

.text {
  color: #fffefa;
}
